img {
  margin-top: 40px;
}

.App {
  text-align: center;
}

.App-header {
  color: black;
  font-size: 60px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}

.App-footer {
  background-color: white;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}